body {
    font-family: 'Raleway', sans-serif !important;
}
p{
    color: white;
}

h2, h3, h5, h6 {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.nav-item {
    font-size: 15px;
    transition:200ms ease;
    margin-left: 5px;
    margin-right: 5px;
}

.current_item, .nav-item:hover {
    border-bottom: solid 2px rgb(17, 33, 54);
}

.title {
    text-align: center;
    position: relative;
    font-weight: 300;
}

#showDeterminante{
    color: white;
}

.CajaPrincipal{
    margin-left: 2%;
}
nav {
    background-color: #C7D8C6 !important;
    transition-duration: 2s;
}

.images-eje {
    width: 33%;
}

.Cajas{
    height: 600px;
    width: 95%;
    position: relative;
    padding: 3%;
    text-align: justify !important;
}

.section {
    margin-left: 2%;
    padding-top: 6%;
}

.col-3-custom {
    flex: 0 0 25%;
    max-width: 23%;
}

#caja1 div {
    background-color: #182D48;
}
#caja2 div {
    background-color: #6B123A;
}
#caja3 div {
    background-color: rgb(111, 145, 120);
}
#caja4 div {
    background-color: #197278;
}
#caja5 div {
    background-color: #8E4A49;
}

#caja6 div {
    background-color: rgb(179, 177, 99);
}

#caja7 div {
    background-color: #F3AC61;
}

#caja8 div {
    background-color: #320A28;
}

#caja7 .form-inline {
    margin-top: 20% !important;
    margin-left: 6%;
}

#caja8 {
    margin-bottom: 4%;
}

.cajitaDeInfo{
    width: 40%;
    height: 60%;
    transition: 1s;
    border-radius: 3px;
}
.font-white {
    color: white;
}

.matriz_generica {
    margin-top: -3%;
    width: 40%;
    margin-left: 25%;
}
#Primerainfo{
    background-color: #182D48;
    margin-left: 8%;
    margin-top: 7%;
    float: left;
    padding: 2%;
}

#Primerainfo:hover{
    background-color: rgb(42, 80, 131);
}

#Primerainfo2 {
    background-color: #182D48;
    margin-left: 3%;
    margin-top: 7%;
    float: left;
    padding: 2%;
}

#Primerainfo2:hover{
    background-color: rgb(42, 80, 131);
}

#Segundainfo {
    background-color: #6B123A;
    margin-left: 8.5%;
    margin-top: 1%;
    float: left;
    padding: 2%;
    height: 420px;
}

#Segundainfo:hover{
    background-color: rgb(160, 31, 89);
}

#Segundainfo2 {
    background-color: #6B123A;
    margin-left: 3%;
    margin-top: 1%;
    float: left;
    padding: 2%;
    height: 420px;
}

#Segundainfo2:hover{
    background-color: rgb(160, 31, 89);
}

#Tercerainfo{
    background-color: rgb(111, 145, 120);
    margin-left: 8.5%;
    margin-top: 1%;
    float: left;
    padding: 2%;
    height: 440px;
}

#Tercerainfo:hover{
    background-color: rgb(119, 184, 136);
}

#Tercerainfo2{
    background-color: rgb(111, 145, 120);
    margin-left: 3%;
    margin-top: 1%;
    float: left;
    padding: 2%;
    height: 440px;
}

#Tercerainfo2:hover{
    background-color: rgb(119, 184, 136);
}

#Cuartainfo{
    background-color: #197278;
    margin-left: 8%;
    margin-top: 3%;
    float: left;
    padding: 2%;
    height: 400px;
}

#Cuartainfo:hover{
    background-color: #23abb4;
}

#Cuartainfo2{
    background-color: #197278;
    margin-left: 3%;
    margin-top: 3%;
    float: left;
    padding: 2%;
    height: 400px;
}

#Cuartainfo2:hover{
    background-color: #23abb4;
}

#Quintainfo{
    background-color: #8E4A49;
    margin-left: 8%;
    margin-top: 3%;
    float: left;
    padding: 2%;
    height: 450px;
}

#Quintainfo:hover{
    background-color: rgb(192, 99, 97);
}

#Quintainfo2{
    background-color: #8E4A49;
    margin-left: 3%;
    margin-top: 3%;
    float: left;
    padding: 2%;
    height: 450px;
}

#Quintainfo2:hover{
    background-color: rgb(192, 99, 97);
}

#Sextainfo {
    background-color: rgb(179, 177, 99);
    margin-left: 8.5%;
    margin-top: 1%;
    float: left;
    padding: 2%;
    height: 440px;
}

#Sextainfo:hover {
    background-color: rgb(201, 199, 147);
}

#Sextainfo2{
    background-color: rgb(179, 177, 99);
    margin-left: 3%;
    margin-top: 1%;
    float: left;
    padding: 2%;
    height: 440px;
}

#Sextainfo2:hover {
    background-color: rgb(201, 199, 147);
}

#OctavaInfo {
    background-color: #320A28;;
    margin-left: 8%;
    margin-top: 7%;
    float: left;
    padding: 2%;
}

#OctavaInfo2 {
    background-color: #320A28;;
    margin-left: 3%;
    margin-top: 7%;
    float: left;
    padding: 2%;
}

#OctavaInfo:hover, #OctavaInfo2:hover{
    background-color: rgb(70, 33, 61);;
}

.input-matrix {
    width: 5%;
    margin: -1px;
    border: solid 0.5px #F3AC61;
    box-shadow: none !important;
}

.input-matrix:focus {
    box-shadow:none;
    outline: none !important;
}

.colorinput{
    color: white;
}

.colorinput:focus {
    box-shadow: none !important;
    border-bottom: solid 2px white !important;
    outline: none !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number]::placeholder { 
    color: white; 
    font-size: 12px;
}

.colorinput {
    border-bottom: solid 1px white !important;
    width: 100% !important;
    color: white !important;
    font-size: 18px;
}
.btn {
    color: white !important;
}

.notacion {
    font-size: 35px;
    font-weight: 300;
    color: white;
    letter-spacing: 2px;
}

.note-matriz {
    color: white;
}

.hipotesis {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0;
    color: white;
    letter-spacing: 2px;
}

.enunciado {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0 !important;
    color: white;
}

.identidad {
    margin-top: -5%;
    margin-left: 25%;
}

.list-group-item{
 background-color: transparent !important;
 color: white !important;
}

.table{
    color: white !important;
}

.sistemas-incognitas {
    width: 15%;
}

.center-image {
    margin-left: 30%;
}

.center-image-2 {
    margin-top: -3%;
    width: 60%;
    margin-left: 20%;
}

.link {
    color: white;
}

.link:hover {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.image-ejercicio {
    margin-top: 5rem;
    width: 100%;
}